.container {
  padding: 10px;
  box-sizing: border-box;
  width: 270px;
  height: 450px;
  border: solid 1px var(--red-color);
  border-radius: 4px;
  cursor: pointer
}

.poster {
  width: 250px;
  height: 375px
}


.title {
  text-align: center;
  color: var(--txt-color);
}
